@font-face
{
font-family: AleoBold;
src: url(Aleo-Bold.otf); 
}

@font-face
{
    font-family:OpenSans;
    src:url(OpenSans-Regular.ttf);
}
html, body {
background-color:#23588F;
    
}
h1
{
font-family:AleoBold;
font-size:70px;
text-align:center;
color:black;
}
.container{
    background-color:yellow;
}
.grijs table {
        border-collapse: collapse;
        font-weight: bold;
        color: white;
        background-color:#3e454c;
        margin-left:14.5%;
        width:1350px;
    
    }
    .grijs th {
        padding-top: 0px;
        padding-right: 2px;
        padding-bottom: 0px;
        padding-left: 2px;
        font-size:36px;
        font-family:OpenSans;
        background-color:#ebb32c;
        color: black;
    }
    .grijs td {
        padding-top: 0px;
        padding-right: 2px;
        padding-bottom: 0px;
        padding-left: 2px;
        font-size:36px;
        font-family:OpenSans;
        text-align: center;
    
    }
.grijs td:nth-child(1) {
        background-color: white;
        color:black;
    }
.grijs td:nth-child(2) {
        background-color: black;
    color:white;
    font-size:30px
    }
.grijs td:nth-child(3){
    background-color:black;
    color:white;
    font-size:30px
}
.grijs td:nth-child(4){
    background-color:black;
    color:white;
    font-size:30px
}
.grijs td:nth-child(5){
    background-color:white;
    color:black;
}
.grijs td:nth-child(6){
    background-color:black;
    background-color:white;
    color:black;
}
.header
{  background:#ebb32c;
    width: 1350px;
    margin: 0 auto;}

.header img {
  float: left;
  width: 68px;
}

